html
{
    background-color: #4E5160;
}

body
{
    font-family: arial;
    margin: 0 auto;
    padding: 35px 50px 15px 50px;
    max-width: 1056px;
    background-color: #FFFFFF;
    color: #4E5260;
    font-size: 0.9em;
}

header,section,datalist{
	display:block;
}

header {
	background:url("logo.jpg") no-repeat left top;
	padding:10px 80px;
	background-size:64px;
}
header h1{
	margin-top:0;
}

@media all and (max-width: 1000px) {
	body{
		padding:10px;
	}
}

h2{
	margin-top:50px;
}

table
{
    border-left: 0px solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width:100%;
}
	td, th
	{
	    border: 1px solid #CCCCCC;
	    vertical-align: top;
	    border-left-width: 0px;
	    padding:10px;
	}
	
	table thead td, table thead th{
	    border-top-width: 0px;
	}

	table thead th{
		text-align:center;
	}
	
	table thead th div{
		margin:0 auto;
		background:url("../logos.png") no-repeat top left;
		width:25px;
		height:25px;
	}
	.ie6{
		background-position:0 0;
	}
	.ie7,.ie8{
		background-position:-25px 0;
	}
	.ie9,.ie10{
		background-position:-50px 0;
	}
	.ff{
		background-position:0 -25px;
	}
	.op{
		background-position:0 -50px;
	}
	.cr{
		background-position:0 -75px;
	}
	.sa{
		background-position:0 -100px;
	}
	
	td.yes{
		background:url("../supported.png") no-repeat center center;
	}
	
	body th{
		text-align:left;
		padding-left:10px;
	} 
		tbody th p{
			font-weight:normal;
		}


blockquote{
	background-color: #F5F7F5;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 0 35px 0;	
}


/**
 * FORM
 */
pre,form{
	width:45%;
	display:inline-block;
	vertical-align:top;
}	
	form label{
	    width:100px;
	    display:inline-block;
	    line-height:3em;
	    margin-left:30px;
	}
	
	label, input, textarea{
		font-size:1.2em;
		vertical-align:middle;
	}

/**
 * FORM SOURCE CODE
 */
pre{
	background-color: #F5F7F5;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 0 35px 0;	
}

pre + button{
	display: block;
	position:absolute;
	margin-top:-50px;
	left:50%;
	color:white;
	background-color:#4E5160;
	border:none;
}
/** Pretty printing styles. Used with prettify.js. */
pre { font-size: 14px; border:1px solid #ddd; background-color:#f5f6f5; padding:20px; }
.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }


